.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: red;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align: center;
    border: solid 1px red;
    border-radius: 30px;
    ;
}

.input::placeholder {
    color: #777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.pError{
    color: red
}